.cat {
  object-fit: cover;
  border: 2px dashed gray;
  padding: 5px;
  border-radius: 4px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 200px);
  gap: 20px;
  justify-content: center;
}
